:host {
  --icon-size: 26px;
}

svg {
  width: var(--icon-size);
  height: var(--icon-size);
  display: block;
}

.size--medium {
  --icon-size: 26px;
}

.size--small {
  --icon-size: 22px;
}

.size--large {
  --icon-size: 32px;
}
