:host {
  --icon-size: 26px;
}

svg {
  width: var(--icon-size);
  height: var(--icon-size);
  display: block;
}

.size--x-small {
  --icon-size: 16px;
}

.size--small {
  --icon-size: 20px;
}

.size--medium {
  --icon-size: 24px;
}

.size--large {
  --icon-size: 28px;
}
