:host {
  display: block;
  width: fit-content;
}

a {
  text-decoration: none;
  color: #0176d3;
}

a:hover {
  color: #014486;
}

.container {
  background-color: #f3f2f2;
  border: 2px solid #dddbda;
  border-radius: 25px;
  display: flex;
  padding: 12px;
  align-items: center;
  flex-direction: column;
}

.container img {
  height: 120px;
  width: auto;
  border-radius: 50%;
}

.card-info {
  color: #3e3e3c;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  font-family: sans-serif;
}

.card-info .card-info_name {
  font-size: 28px;
}

.card-info_details {
  margin-top: 12px;
}

.card-info_details > * {
  display: flex;
  align-items: center;
}

.card-info_details span {
  margin-left: 4px;
}

.card-info_details :not(:first-of-type) {
  margin-top: 4px;
}
